<!doctype html>
<html lang="en">
<head>
    <title>Static Media Server</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A static media server">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <style>
        nav {
            border-bottom: 1px solid black;
        }

        .crumbs ol {
            list-style-type: none;
            padding-left: 0;
        }

        .crumb {
            display: inline-block;
        }

        .crumb a::after {
            display: inline-block;
            color: #000;
            content: '>';
            font-size: 80%;
            font-weight: bold;
            padding: 0 3px;
        }

    </style>
</head>
<body>

{{> page}}

</body>
</html>
